/* main */
.main {
  margin-top: 12px;
}
/* slider */
.slider {
  position: relative;
  width: 100%;
  height: 480px;
  background: linear-gradient(
    97.77deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
}
.slider__wrapper {
  width: 100%;
  height: 100%;
}
.slider__items {
  width: 100%;
  height: 100%;
}
.slider__item {
  display: flex;
  width: 100%;
  height: 100%;
}
.slider__left {
  width: 50%;
  padding: 80px 40px;
}
.slider__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d3d3d;
}
.slider__title {
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #3d3d3d;
}
.slider__title_mt10 {
  margin-top: 10px;
}
.slider__title > span {
  color: #46a358;
}
.slider__text {
  font-size: 14px;
  line-height: 24px;
  color: #727272;
}
.btn {
  width: 140px;
  height: 40px;
  background: #46a358;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s linear;
}
.btn:hover {
  opacity: 1;
}
.btn_mt44 {
  margin-top: 44px;
}
.slider__right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__img {
  max-width: 100%;
  height: auto;
}
.controls {
  position: absolute;
  display: flex;
  bottom: 15px;
  left: 48%;
}
.controls__item {
  margin-right: 8px;
}
.controls__item:last-child {
  margin-right: 0;
}
.controls__btn {
  width: 8px;
  height: 8px;
  cursor: pointer;
  background: rgba(70, 163, 88, 0.3);
  border: none;
  border-radius: 50%;
}
.active-control {
  background: #46a358;
}

/* footer */
.newsletter {
  display: flex;
}
.newsletter__item {
  margin: 25px 45px;
  border-right: 1px solid rgba(70, 163, 88, 0.1);
}
.newsletter__item:nth-child(n + 2) {
  border-right: none;
}
.newsletter__preview {
  position: relative;
  width: 74px;
  height: 74px;
  background: rgba(70, 163, 88, 0.13);
  border-radius: 50%;
}
.newsletter__img {
  position: absolute;
  top: -12px;
  left: 10px;
}
.newsletter__title {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: #3d3d3d;
  margin-top: 15px;
  margin-bottom: 8px;
}
.newsletter__title_mr18 {
  margin: 0px 0px 18px 0px;
}
.newsletter__text {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #727272;
}
.newsletter__form {
  display: flex;
}
.newsletter__input {
  width: 354px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
  border: none;
  border-radius: 6px 0px 0px 6px;
  margin-bottom: 17px;
}
.newsletter__btn {
  width: 85px;
  height: 40px;
  background: #46a358;
  border: none;
  border-radius: 0px 6px 6px 0px;
  opacity: 0.7;
  transition: opacity 0.2s linear;
  cursor: pointer;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: #ffffff;
}
.newsletter__btn:hover {
  opacity: 1;
}
.contact {
  width: 100%;
  height: 88px;
  padding: 27px 24px;
  display: flex;
  align-items: center;
  background: rgba(70, 163, 88, 0.1);
}

.contact__address {
  width: 200px;
  height: 44px;
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.contact__img {
  width: 13px;
  height: 15px;
  margin-right: 13px;
}
.contact__location {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #3d3d3d;
}
.contact__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #3d3d3d;
}
